body {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #95cfb7 0%, #8ee388 100%);
}

.hidden {
  display: none;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section article {
  display: flex;
  flex-direction: row;
}

img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

h1 {
  color: #fc4f00;
  font-family: "Righteous", cursive;
  -webkit-text-stroke: 2.5px #000000;
  font-size: 48px;
  display: flex;
}

button {
  color: #121212;
  font-family: "Advent Pro", sans-serif;
  position: relative;
  width: 156px;
  height: 36px;
  background-color: #fc4f00;
  border-radius: 20px;
  cursor: pointer;
}
a {
  text-decoration: none;
}

.section-carrousel {
  margin: 0;
  padding: 0;
}

/* // Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
/* Carrousel */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 3));
  }
}

@keyframes scrollReverse {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(calc(-250px * 3));
  }
}
.slider {
  width: 60%;
  background: none;
  height: 140px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider div {
  display: flex;
  width: calc(250px * 6);
  height: 100%;
}

#card-cabeza div,
#card-piernas div {
  animation: scroll 10s linear infinite;
}
#card-pecho div,
#card-pies div {
  animation: scrollReverse 10s linear infinite;
}
.slide {
  width: 250px;
  height: 100%;
  text-align: center;
}

/* Media Queries */

@media (min-width: 600px) {
}

@media screen and (min-width: 600px) {
  .section-carrousel {
    display: flex;
    flex-wrap: wrap;
  }
}
