body {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #95CFB7 0%, #8EE388 100%);
}

.hidden {
  display: none;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

section article {
  display: flex;
  flex-direction: row;
  
}

img {
  width: 200px;

}



/* // Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
/* Carrousel */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 3));
  }
}

@keyframes scrollReverse {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(calc(-250px * 3));
  }
}
.slider {
  width: 60%;
  background: none;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider div {
  display: flex;
  width: calc(250px * 6);
  height: 100%;
}

#card-cabeza div,
#card-piernas div {
  animation: scroll 10s linear infinite;
}
#card-pecho div,
#card-pies div {
  animation: scrollReverse 10s linear infinite;
}
.slide {
  width: 80%;
  height: 100%;
  object-fit: cover;
}
.slide {
  width: 250px;
  height: 100%;
  text-align: center;
}

/* Media Queries */

@media (min-width: 600px) {
}

@media screen and (min-width: 600px) {
  .section-carrousel {
    display: flex;
    flex-wrap: wrap;
  }
}
