* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  overflow: hidden;
}

.img {
  position: absolute;
  z-index: 0;
  left: 65vw;
  top: 12vh;
}

#manequeen {
  position: relative;
}

#dress {
  position: absolute;
  width: 227px;
  z-index: 2;
  left: 109px;
  top: 118px;
}

@media screen and (max-width: 500px) {
  #manequeen {
    display: none;
  }
  #dress {
    display: none;
  }

  body {
    background: linear-gradient(180deg, #95cfb7 0%, #8ee388 100%);
  }
}

.intro {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fc4f00;
  font-family: "Righteous", cursive;
  -webkit-text-stroke: 2.5px #000000;
  font-size: 48px;
  display: flex;
}

h3 {
  color: #121212;
  font-family: "Righteous", cursive;
  font-size: 38px;
  margin-top: 25px;
}

p {
  padding: 35px;
  font-family: "Advent Pro", sans-serif;
  line-height: 21.53px;
  color: #121212;
}

button {
  color: #121212;
  font-family: "Advent Pro", sans-serif;
  position: relative;
  width: 82px;
  height: 36px;
  background-color: #fc4f00;
  border-radius: 20px;
  cursor: pointer;
}

.containerPadre {
  position: absolute;
  width: 752px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #95cfb7 0%, #8ee388 100%);
}

.introJuego {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32%;
}
