*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(180deg, #95CFB7 0%, #8EE388 100%);
}

#dress{
    width: 50%;
    position: absolute;
    margin-top: 24%;
    right: 29%;
  
    
}
.img{
    width:100%;
}

@media screen and (max-width: 500px) {
    #manequeen{
        display:none;
    }
    #dress{
        display:none;
    }

    body{
        background: linear-gradient(180deg, #95CFB7 0%, #8EE388 100%);
    }
}

.intro{
    display: flex;
    flex-direction: column;
}

h1{
    color:#FC4F00;
    font-family: 'Righteous', cursive;
    -webkit-text-stroke: 2.5px #000000;
    font-size: 48px;
    display: flex;
}

h3{
    color:#121212;
    font-family: 'Righteous', cursive;
    font-size: 38px;
    margin-top: 25px;
}

p{
    padding: 35px;
    font-family: 'Advent Pro', sans-serif;
    line-height: 21.53px;
    color: #121212;
}

button{
    color: #121212;
    font-family: 'Righteous', cursive;
    position: relative;
    width: 82px;
    height: 36px;
    background-color: #FC4F00;
    border-radius: 20px;
}

.containerPadre{
    position: absolute;
    width: 752px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #95CFB7 0%, #8EE388 100%);
}

.introJuego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32%;
}

.img{
    position: absolute;
    width: 476px;
    height: 765px;
    left: 842px;
    top: 129px;
    background: url(maniquí-de-madera-aislado-en-blanco-44625363-removebg-preview.png);
}
#dress{
    z-index: 100;
}